:root {
    --color: blue;
    --border: 5px solid black;
}

.paragraph {
    color: var(--color)
}

.article{
    --color:green;
}

.check:checked + .box{
    --color: purple;
}

.box{
    width: 100px;
    height: 100px;
    background: var(--color);
    border: var(--border)
}