/*
    clip-path: Es una máscara que oculta partes de una caja
        circle(): dibuja un círculo, puede tener una medida fija, circle(100px) o podemos especificar un centro con at, circle(100px at medidaX medidaY | palabrasClaveX palabrasClaveY)

        ellipse(): dibuja una elipse, funciona igual que el círculo, pero en este caso tenemos que especificar 2 centros, el horizontal y el vertical

        inset(): dibuja un borde transparente por dentro de la caja
            inset(all| Y X | top X bottom | top left bottom right)
            existe la opción de redondear las esquinas, para ello después de los valores de inset pondremos round
            inset(*** round all | 
                top-left & bottom-right top-right & bottom-left |
                top-left top-right & bottom-left bottom-right
                top-left top-right bottom-right bottom-left
            )
        poly on(): Especifica una serie de puntos (mínimo 3) para definir la zona visible siendo el punto 0 0 la esquina superior izquierda 
        los puntos se especifican por parejas de ejeX y ejeY separados por comas
        polygon(0 0, 100% 0, 0 100%)

        Generador de clip-path: https://bennettfeely.com/clippy/
*/

.a {
  width: 400px;
  height: 400px;
  background: #7c1212;
  margin-left: auto;
  margin-right: auto;
}
.b {
  background: lightcoral;
  width: 400px;
  height: 400px;
  clip-path: inset(25px round 10px 10px 150px 150px);
}

.box {
  width: 400px;
  height: 400px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.box__item {
  background: lightcoral;
  width: 400px;
  height: 400px;
  /* clip-path: circle(100px at center); */
  /* clip-path: ellipse(100px 50px at center); */
  /* clip-path: inset(20px round 20px 50px 100px 150px); */
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  transition: clip-path 0.6s;
}

.box:hover > .box__item {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    10% 100%,
    10% 10%,
    90% 10%,
    90% 90%,
    10% 90%,
    10% 100%,
    100% 100%,
    100% 0%
  );
}
