/* 
Position absolute

El elemento no conserva su espacio en el flujo.

Si no tiene dimensiones declaradas, sus dimensiones se ajustan al contenido.

Su punto de referencia (contexto) es el elemento que lo contenga posicionado más cercano, si no encuentra ninguno será el viewport (el espacio visible en pantalla)

Al ser un elemento posicionado lo podemos mover en los 3 ejes X Y Z
*/

.container {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 3px solid black;
  position: relative;
}

[class^="box"] {
  width: 50px;
  height: 50px;
}

.box1 {
  border: 4px solid lightcoral;
  position: absolute;
  top: 0;
  left: 0;
}

.box2 {
  border: 4px solid blue;
  position: absolute;
  top: 0;
  right: 0;
}

.box3 {
  border: 4px solid green;
  position: absolute;
  bottom: 0;
  left: 0;
}

.box4 {
  border: 4px solid lightseagreen;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box5 {
  border: 4px solid darkorange;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* ........................................................................ */

.container2 {
  width: 300px;
  height: 300px;
  border: solid 3px #000;
  margin-left: 200px;
  margin-top: -300px;
  position: relative;
}

.box6,
.box7,
.box8,
.box9,
.box10 {
  width: 50px;
  height: 50px;
}

.box6 {
  border: springgreen solid 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.box7 {
  border: #0004ff solid 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.box8 {
  border: #6d1866 solid 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.box9 {
  border: #d16f37 solid 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.box10 {
  border: #cc1919 solid 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
